<!DOCTYPE html>
<html>
  <head>
    <title>Miniblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
        <div class="header-logo">
          <h3>MINI BLOG</h3>
        </div>
        <div class="header-list">
          <li>SIGHIN</li>
          <li>SIGHOUT</li>
          <li>NEW</li>
        </div>
    </div>
    
    <%= yield %>
    
    
      <div class="footer">
        <div class="footer-logo">
          ４月３０日 15時27分39秒 ５月２日CSSが読み込まれない
        </div>
        <div class="footer-list">
          <li>あいうえお</li>
          <li>かきくけこ</li>
          <li>さしすせそ</li>
        </div>
      </div>

    
  </body>
</html>
